body {
    background:#999;
    font-family: calibri;
}

h1, h2 {
    color: #C71A3C;
}

p {
    background:#666;
    color: white;
    padding: 10px;
}

.secondary{ /* typically, things below override previous, but class isn't overridden ever */
    background: none;
    color: #777;
}

#special {
    background: red;
    color: white;
}