
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 5px 25px;
  background: black;
  margin-top: 200px;
}

body::-webkit-scrollbar {
  display: none;
}

/* body { */
/* background-image: url("IMG_7620.jpg"); */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* opacity: 1; */
/* background-color: rgba(red, green, blue, 0.5) */
/* } */

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  color: white;
  font-size: 600%;
  /* background: white; */
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  color: white;
  font-size: 400%;
}

/* h4 font for names in about us{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 100px 0px 100px;
    padding: 10px 30px 10px 30px;
    color: white;
    background: gray;
    font-size: 200%;
} */

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 10px 10%;
  padding: 30px 40px;
  color: white;
  font-size: 150%;
}



.nav-link.active {
  text-decoration: underline;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.col {
  background: #333;
  border-radius: 5px;
  color: white;
  padding: 10px 0.5%;
  float: left;
  margin: 0.5%;
  width: 31%;
}

:root {
  font-size: 125%;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.accordion-header {
  background-color: black;
  padding: 20px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
  /* margin-top: 0px; */
}

.arrow {
  float: right;
  margin-top: -10px;
}

.accordion-header.active .arrow {
  transform: rotate(180deg);
}

/* .divider {
  border-top: 1px solid #ccc;
  margin: 0px 5%;
} */

/* footer {
    clear: both
} */

li {
  list-style: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  position: fixed;
  top: 0;
  right: 10px;
  left: 10px;
  width: 97%;
  z-index: 1000;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  color: white;
  font-size: 15pt;
  text-align: center;
  background-color: transparent;
}

button.nav-link:hover {
  color: darkgray;
  text-decoration: underline;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width:1000px) {

  .hamburger-menu {
    display: block;
    
  }
  
  .navbar {
    width: 95%;
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: black;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px;
    margin-left: -50px;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* Reset some default margins/padding for better control */
body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-container {
  /* width: 80%; */
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.profile-box {
  width: calc(33.33% - 300px);
  margin: 20px;
  /* margin-left: 15%; */
  background-color: maroon;
  border: 1px solid gray;
  padding: 20px;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

@media screen and (max-width: 1500px) {
  .profile-box {
      width: calc(50% - 20px); /* Two profiles per row for smaller screens */
  }
}



